# Compiled Object files
*.slo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lib

# Executables
*.out

#VisualStudio Files
*.sdf
*.opensdf
*.suo
ipch/
[Bb]uild/
obj/
source/Win32-UEFILibrary
bin/make_installer/Androidx86-Installv29.0000/boot/grub/grub.cfg
*.TBL
tools/Boot/grub/theme/icons/openthos.png
tools/Boot/grub/theme/icons/opensuse.png
tools/_efi/grub.cfg
tools/_efi/grub_remix.cfg
tools/_efi/grubia32.efi
tools/_efi/grubx64.efi
tools/Boot/grub/fonts/dejavu_14.pf2
tools/Boot/grub/fonts/terminus-14.pf2
tools/Boot/grub/grubenv
tools/Boot/grub/theme/android-x86.png
tools/Boot/grub/theme/icons/android-x86.png
tools/Boot/grub/theme/icons/android.png
tools/Boot/grub/theme/icons/arch.png
tools/Boot/grub/theme/icons/centos.png
tools/Boot/grub/theme/icons/debian.png
tools/Boot/grub/theme/icons/fedora.png
tools/Boot/grub/theme/icons/forward.png
tools/Boot/grub/theme/icons/frugalware.png
tools/Boot/grub/theme/icons/gentoo.png
tools/Boot/grub/theme/icons/gnu-linux.png
tools/Boot/grub/theme/icons/kubuntu.png
tools/Boot/grub/theme/icons/linuxmint.png
tools/Boot/grub/theme/icons/mageia.png
tools/Boot/grub/theme/icons/mandriva.png
tools/Boot/grub/theme/icons/os.png
tools/Boot/grub/theme/icons/reboot.png
tools/Boot/grub/theme/icons/sabayon.png
tools/Boot/grub/theme/icons/setup.png
tools/Boot/grub/theme/icons/shutdown.png
tools/Boot/grub/theme/icons/slackware.png
tools/Boot/grub/theme/icons/theme.png
tools/Boot/grub/theme/icons/ubuntu.png
tools/Boot/grub/theme/icons/windows.png
tools/Boot/grub/theme/menu_bkg_c.png
tools/Boot/grub/theme/menu_bkg_e.png
tools/Boot/grub/theme/menu_bkg_n.png
tools/Boot/grub/theme/menu_bkg_ne.png
tools/Boot/grub/theme/menu_bkg_nw.png
tools/Boot/grub/theme/menu_bkg_s.png
tools/Boot/grub/theme/menu_bkg_se.png
tools/Boot/grub/theme/menu_bkg_sw.png
tools/Boot/grub/theme/menu_bkg_w.png
tools/Boot/grub/theme/options.png
tools/Boot/grub/theme/progress_bar_s.png
tools/Boot/grub/theme/progress_highlight_c.png
tools/Boot/grub/theme/sb_frame_c.png
tools/Boot/grub/theme/sb_frame_n.png
tools/Boot/grub/theme/sb_frame_s.png
tools/Boot/grub/theme/sb_thumb_c.png
tools/Boot/grub/theme/sb_thumb_n.png
tools/Boot/grub/theme/sb_thumb_s.png
tools/Boot/grub/theme/select_bkg_c.png
tools/Boot/grub/theme/select_bkg_e.png
tools/Boot/grub/theme/select_bkg_n.png
tools/Boot/grub/theme/select_bkg_ne.png
tools/Boot/grub/theme/select_bkg_nw.png
tools/Boot/grub/theme/select_bkg_s.png
tools/Boot/grub/theme/select_bkg_se.png
tools/Boot/grub/theme/select_bkg_sw.png
tools/Boot/grub/theme/select_bkg_w.png
tools/Boot/grub/theme/theme.txt
tools/efi/boot/BOOTx64.EFI
tools/efi/boot/grub.cfg
tools/efi/boot/grubx32.efi
tools/efi/boot/grubx64.efi
